body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background: #f2f2f2;
    color: #000;
  }
  
  .page {
    display: flex;
    min-height: 100vh;
    min-height: 100vh;
  }

  html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
  }

  header {
    padding: 40px 20px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
  }
  
  h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 10px;
  }
  
  .subtitle {
    font-size: 16px;
    color: #666;
    margin: 0;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .card {
    background: #fff;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 0 1px #e0e0e0;
    flex-shrink: 0;
    height: auto;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
    color: inherit;
  }

  .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .card-img {
    height: 160px;
    background: #dcdcdc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
  }
  
  .card-body {
    padding: 16px;
    flex-grow: 1;
  }
  
  .card-body h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 8px;
  }
  
  .card-body p {
    font-size: 14px;
    color: #444;
    margin: 0;
  }
  
  .container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  @media (max-width: 768px) {
    header {
      padding: 30px 10px 10px;
      text-align: left;
    }
  
    h1 {
      font-size: 28px;
    }
  
    .cards {
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  
    .card {
      width: 100%;
      max-width: 360px;
    }

    .footer-spacer {
        margin: 1050px 0 0 0;
    }

    html, body {
        overflow-x: hidden;
      }
  }

 .logofut {
    max-width: 65px;
    height: auto;
 }

 footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    align-items: center; /* ВЫРАВНИВАЕТ по вертикали */
    justify-content: center;
    gap: 12px;
    padding: 30px 10px 20px;
    font-size: 14px;
    color: #333;
  }


.footer-text {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}
